In [ ]:
import pandas as pd

In [ ]:
# Concept 1: DataFrame = Table

# A DataFrame is just a table
# Imagine this in Excel:
#
#    Company      | Valuation | Industry
# ─────────────────────────────────────
#    Bytedance    | $180B     | AI
#    SpaceX       | $100B     | Other
#    SHEIN        | $100B     | E-commerce

In [4]:
# In Pandas:

df = pd.read_csv(r"C:\Users\Admin03\Desktop\Startup-funding-Analysis\data\Unicorn_Companies.csv")
# Now 'df' contains your entire table

In [5]:
# Concept 2: Columns = Series
# When you select ONE column, it's called a Series
# Think: One column in Excel

df['Company']
df['Valuation']       
df['Industry']

0               Artificial intelligence
1                                 Other
2       E-commerce & direct-to-consumer
3                               Fintech
4                               Fintech
                     ...
1069    E-commerce & direct-to-consumer
1070    E-commerce & direct-to-consumer
1071                  Consumer & retail
1072                            Fintech
1073    E-commerce & direct-to-consumer
Name: Industry, Length: 1074, dtype: object

In [7]:
#Concept 3: Indexing/Selecting
# Select rows and columns (like Excel filters)
df.head() # First 5 rows (like Excel: select A1:Z5)

,Company,Valuation,Date_Joined,Industry,City,Country,Continent,Year_Founded,Funding,Select Investors
0,Bytedance,$180B,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,01-12-2012,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,23-01-2014,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [8]:
df.tail()             # Last 5 rows

,Company,Valuation,Date_Joined,Industry,City,Country,Continent,Year_Founded,Funding,Select Investors
1069,Zhaogang,$1B,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,$379M,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,$1B,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,$990M,"58.com, Tencent Holdings"
1071,Zihaiguo,$1B,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,$80M,"Xingwang Investment Management, China Capital ..."
1072,Zopa,$1B,19-10-2021,Fintech,London,United Kingdom,Europe,2005,$792M,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,$1B,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,$620M,"Novator Partners, True, Causeway Media Partners"

In [9]:
df.head(10)           # First 10 rows

,Company,Valuation,Date_Joined,Industry,City,Country,Continent,Year_Founded,Funding,Select Investors
0,Bytedance,$180B,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,01-12-2012,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,23-01-2014,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."
5,Canva,$40B,08-01-2018,Internet software & services,Surry Hills,Australia,Oceania,2012,$572M,"Sequoia Capital China, Blackbird Ventures, Mat..."
6,Checkout.com,$40B,02-05-2019,Fintech,London,United Kingdom,Europe,2012,$2B,"Tiger Global Management, Insight Partners, DST..."
7,Instacart,$39B,30-12-2014,"Supply chain, logistics, & delivery",San Francisco,United States,North America,2012,$3B,"Khosla Ventures, Kleiner Perkins Caufield & By..."
8,JUUL Labs,$38B,20-12-2017,Consumer & retail,San Francisco,United States,North America,2015,$14B,Tiger Global Management
9,Databricks,$38B,05-02-2019,Data management & analytics,San Francisco,United States,North America,2013,$3B,"Andreessen Horowitz, New Enterprise Associates..."

In [10]:
df['Company']  #one column (series)

0         Bytedance
1            SpaceX
2             SHEIN
3            Stripe
4            Klarna
           ...
1069       Zhaogang
1070    Zhuan Zhuan
1071       Zihaiguo
1072           Zopa
1073          Zwift
Name: Company, Length: 1074, dtype: object

In [11]:
df[['Company','Valuation']] #multiple column(dataframe)

          Company Valuation
0       Bytedance     $180B
1          SpaceX     $100B
2           SHEIN     $100B
3          Stripe      $95B
4          Klarna      $46B
...           ...       ...
1069     Zhaogang       $1B
1070  Zhuan Zhuan       $1B
1071     Zihaiguo       $1B
1072         Zopa       $1B
1073        Zwift       $1B

[1074 rows x 2 columns]

In [12]:
df[df['Industry'] == 'Fintech'] #filter rows (like excel autofilter)

,Company,Valuation,Date_Joined,Industry,City,Country,Continent,Year_Founded,Funding,Select Investors
3,Stripe,$95B,23-01-2014,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."
6,Checkout.com,$40B,02-05-2019,Fintech,London,United Kingdom,Europe,2012,$2B,"Tiger Global Management, Insight Partners, DST..."
10,Revolut,$33B,26-04-2018,Fintech,London,United Kingdom,Europe,2015,$2B,"index Ventures, DST Global, Ribbit Capital"
12,FTX,$32B,20-07-2021,Fintech,NaN,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank"
...,...,...,...,...,...,...,...,...,...,...
1054,Vise,$1B,18-05-2021,Fintech,New York,United States,North America,2016,$128M,"Sequoia Capital, Founders Fund, Bling Capital"
1061,WeLab,$1B,08-11-2017,Fintech,NaN,Hong Kong,Asia,2013,$871M,"Sequoia Capital China, ING, Alibaba Entreprene..."
1063,Wrapbook,$1B,10-11-2021,Fintech,New York,United States,North America,2018,$131M,"Equal Ventures, Uncork Capital, Andreessen Hor..."
1064,Xendit,$1B,14-09-2021,Fintech,Jakarta,Indonesia,Asia,2014,$215M,"Accel, Y Combinator, Amasia"
1072,Zopa,$1B,19-10-2021,Fintech,London,United Kingdom,Europe,2005,$792M,"IAG Capital Partners, Augmentum Fintech, North..."

In [ ]:
#Concept 4: Apply Functions
#Apply = do something to every row/cell

In [14]:
#Convert "$180B" to 180
def clean_value(text):
    #remove $ and B
    return text.replace('$', '').replace('B','')
#apply this function to EVERY cell in valuation column
df['Valuation_Clean'] = df['Valuation'].apply(clean_value)

In [15]:
# GroupBy = Pivot Table in Excel

# Example: Count companies per industry
df.groupby('Industry')['Company'].count()

# In Excel this would be:
# - Create pivot table
# - Rows: Industry
# - Values: Count of Company

# In Pandas: ONE LINE!

Industry
Artificial Intelligence                 11
Artificial intelligence                 73
Auto & transportation                   31
Consumer & retail                       25
Cybersecurity                           50
Data management & analytics             41
E-commerce & direct-to-consumer        111
Edtech                                  28
Fintech                                224
Hardware                                34
Health                                  74
Internet software & services           205
Mobile & telecommunications             38
Other                                   58
Supply chain, logistics, & delivery     57
Travel                                  14
Name: Company, dtype: int64